<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chadai.app">

    <application
        android:label="Chad Ai"
        android:icon="@mipmap/ic_launcher">
        
        <!-- Example of adding the exported attribute -->
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyActivity"
            android:exported="false">
        </activity>
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyFloatingActivity"
            android:exported="false">
        </activity>
        
    </application>

</manifest>
